<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/main.css}" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <title>Tilføj ny turistattraktion</title>
</head>
<body>

<header>
    <h1>Opret en ny turistattraktion</h1>
</header>

<form action="/attractions/save" method="post">
    <label>Attraktionens navn:</label><br>
    <input type="text" name="name"><br>
    <label>Beskrivelse:</label><br>
    <textarea name="description"></textarea><br>
    <label>URL til billede:</label><br>
    <input type="url" name="image"><br>
    <label>Prisniveau i hele kroner:</label><br>
    <input type="number" name="priceDkk" min="0"><br>
    <label>By:</label><br>
    <input type="text" name="city"><br>
    <label>Kategorier:</label><br>
    <input type="checkbox" name="tag1" value="sport">
    <label>Sport</label><br>
    <input type="checkbox" name="tag2" value="musik">
    <label>Musik</label><br>
    <input type="checkbox" name="tag3" value="børnevenligt">
    <label>Børnevenligt</label><br>
    <input type="checkbox" name="tag4" value="natur">
    <label>Natur</label><br>
    <input type="checkbox" name="tag5" value="kultur">
    <label>Kultur</label><br>
    <input type="checkbox" name="tag6" value="byliv">
    <label>Byliv</label><br>
    <input type="checkbox" name="tag7" value="arkitektur">
    <label>Arkitektur</label><br>
    <button type="submit">Ok</button>
    <button type="button">Fortryd</button><br>
</form>

<footer>
    <p>Her er en footer med en tekstlinje i.</p>
</footer>

</body>
</html>