<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/main.css}" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <title th:text="${attraktion.name}">Title</title>
</head>
<body>

<h1 th:text="${attraktion.name}">Title</h1>
<p th:text="${attraktion.description}">Beskrivelse</p>
<img th:src="@{ ${attraktion.image} }"
<p>Prisniveau: <span th:text="${attraktion.priceDkk}">pris i kroner</span> kr.</p>
<p th:text="${attraktion.city}">By</p>

<form action="/attractions" method="get">
    <button name="backbtn">Tilbage til oversigt</button>
</form>

</body>
</html>

<!-- '/img/' +  -->