<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/main.css}" rel="stylesheet">
    <title>Her kan du se alle turistattraktionerne</title>
</head>
<body>

<h1>Alle turistattraktioner</h1>
<table>
    <thead>
        <tr>
            <th>Attraktion</th>
            <th>Beskrivelse</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="attraktion : ${turistattraktioner}">
            <td><a th:href="'/attractions/' + ${attraktion.name}"><span th:text="${attraktion.name}">Attraktionens navn</span></a></td>
            <td th:text="${attraktion.description}">Beskrivelse af attraktionen</td>
            <td>
                <form th:action="'/attractions/delete/' + ${attraktion.name}" method="post">
                    <button name="deletebtn" value="ok">Slet</button>
                </form>
                <form th:action="@{'/attractions/' + ${attraktion.name} + '/update'}" method="get">
                    <button name="updatebtn"  value="ok">Opdater</button>
                </form>
                <form th:action="@{'/attractions/' + ${attraktion.name} + '/tags'}" method="get">
                    <button name="gobtn" value="ok">Se tags</button>
                </form>
            </td>
        </tr>
    </tbody>
</table>
<button>Tilføj ny attraktion</button>


</body>
</html>