<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/main.css}" rel="stylesheet">
    <title th:text="'Opdater ' + ${attraktion.name}">Title</title>
</head>
<body>

<h1 th:text="'Opdater turistattraktionen ' + ${attraktion.name}">Opdater attraktion</h1>
<form th:action="'/attractions/' + ${attraktion.name} +'/update'" method="post">
    <label>Navn:</label><br>
    <input type="text" name="name" th:value="${attraktion.name}" disabled="disabled">

    <label>Beskrivelse:</label><br>
    <textarea name="description" th:text="${attraktion.description}"></textarea><br>
    <label>Link til billede:</label><br>
    <input type="url" name="image" th:value="${attraktion.image}"><br>
    <label>Prisniveau i hele kroner:</label><br>
    <input type="number" name="priceDkk" min="0" th:value="${attraktion.priceDkk}"><br>
    <label>By:</label><br>
    <input type="text" name="city" th:value="${attraktion.city}"><br>
    <label>Kategorier:</label><br>

    <!-- if statements med Thymeleaf for checked or unchecked -->
    <input type="checkbox" name="tag1" value="sport" th:checked="${attraktion.tags.contains('Sport')} ? 'true' : 'false'">
    <label>Sport</label><br>
    <input type="checkbox" name="tag2" value="musik" th:checked="${attraktion.tags.contains('Musik')} ? 'true' : 'false'">
    <label>Musik</label><br>
    <input type="checkbox" name="tag3" value="børnevenligt"  th:checked="${attraktion.tags.contains('Børnevenligt')} ? 'true' : 'false'">
    <label>Børnevenligt</label><br>
    <input type="checkbox" name="tag4" value="natur"  th:checked="${attraktion.tags.contains('Natur')} ? 'true' : 'false'">
    <label>Natur</label><br>
    <input type="checkbox" name="tag5" value="kultur" th:checked="${attraktion.tags.contains('Kultur')} ? 'true' : 'false'">
    <label>Kultur</label><br>
    <input type="checkbox" name="tag6" value="byliv" th:checked="${attraktion.tags.contains('Byliv')} ? 'true' : 'false'">
    <label>Byliv</label><br>
    <input type="checkbox" name="tag7" value="arkitektur" th:checked="${attraktion.tags.contains('Arkitektur')} ? 'true' : 'false'">
    <label>Arkitektur</label><br>
    <button type="submit">Ok</button>
    <button type="button">Fortryd</button><br>

</form>

</body>
</html>