<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/main.css}" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <title>Velkommen til tourist Guide v2</title>
</head>
<body>
<header>
    <h1>Velkommen til turistsiden v2</h1>
</header>
<nav>
    <a href="/">Forside</a>
    <a href="/attractions">Se alle turistattraktioner</a>
    <a href="/attractions">Om siden</a>
    <a href="/attractions">Kontakt os</a>
    <a href="/attractions">Se alle turistattraktioner</a>
</nav>
<article>
    <h2>Dette er en underoverskrift</h2>
    <p>Her er noget tekst.</p>
</article>
<footer>
    <p>Her er en footer med en tekstlinje i.</p>
</footer>

</body>
</html>