<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/main.css}" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <title th:text="'Alle tags for ' + ${attraktion.name}">Title</title>
</head>
<body>

<h1>Tags for <span th:text="${attraktion.name}">attraktion</span></h1>
<table>
  <tbody>
    <tr th:each="tag : ${attraktion.tags}" >
      <td th:text="${tag}"> tag </td>
    </tr>
  </tbody>
</table>

<form action="/attractions" method="get">
    <button name="backbtn">Tilbage til oversigt</button>
</form>


</body>
</html>